<h1>Show Index Goddamn</h1>
<p> <%= @tasks  %> </p>

<% @tasks.each do |task|  %>


   <p> <input type="checkbox" <%= "checked= 'checked'" if task.completed %> >

    <%= link_to task.title, task_path(task) %></p>


<% end %>



<!-- Devo  acabar criando um outro arquivo para o form... mas beleza -->



<form type="checkbox" ></form>


<%= link_to "add a new task", new_task_path %>



