<h1>Show Index Goddamn</h1>
<p> <%= @tasks  %> </p>

<% @tasks.each do |task|  %>
  <h2> <%= task.title  %> </h2>
<% end %>

<!-- Devo  acabar criando um outro arquivo para o form... mas beleza -->
<form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="task[title]" id="title">

  <label for="address">Address: </label>
  <input type="text" name="task[address]" id="address">

  <input type="submit">
</form>
